/* @override http://yannick.poulet.org/tools/main.css */

#container {
  padding-left: 350px;   /* LC width */
  padding-right: 200px;  /* RC width */
  padding-top:50px;
}
#container .column {
  position: relative;
  float: left;
}
#center {
  width: 100%;
}
#left {
  width: 350px;          /* LC width */
  right: 350px;          /* LC width */
  margin-left: -100%;
}
#right {
  width: 200px;          /* RC width */
  margin-right: -200px;  /* RC width */

}

body { 
    background:#EFBE4E; 
    color:black;
    margin: auto;
    width:900px;
	padding:10px;
    font-family: Arial,Helvetica,Verdana, Sans-serif;
}
.banner {
	height:202px;
	width:900px;
	background:#FFCC66;
 	background: url("../img/fireAntMicroarrays.jpg") no-repeat; background-size: 100%;
    border: 2px #DD7C50 solid;
	font-weight:bold;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.titlespacer {
	height:112px;
}
.banner p{
	font-size: 18pt;
	height:30px;
}
.small {
	font-size:50%;
}

.banner p, .navi { 
	margin:0;
	background-color:transparent;
	text-align:left; 
	width:800px;

	margin-top: 10px;
	padding-left:10px;

}
span.navigation {
	background-color:transparent;
    background:#FFCC66;
    border: 2px #DD7C50 solid;
    padding:5px;
    margin-bottom:5px;
	width:100%;

}
span.restricted { 
    color:red;
    background:transparent;
}
.section { 
    background:#FFCC66;
}

.gallery { 
    font-size:10px;
}
a { 
    color: #204166;
    text-decoration:none;
    font-weight:bold;
}
a:hover { 
    color: #20418C;
}
a:active { 
    color: #726F32;
}
h1 { 
	text-align:left;
	color:black;
	/*	//color: #226bc6;*/
	background:transparent; 
	font-size: 24px;  
}
h2 {
	color:#20418C;
    background:#A2B0B1;
    border: 1px #666666 solid;
    padding:3px;


    font-size: 14px;
	font-weight:bold;
}
h2 a {
	text-decoration:none;
	color:#20418C;
    background:transparent;
    font-size: 14px;
    font-weight:bold;
	padding:4px;
}
h2 a:hover {
	color:#2B864F;
	border:1px black solid;
	padding:3px;
}
h3 {  
    font-size:12pt;
	margin-left:0px;
	margin-bottom: 0px;
}
dl, p  { 
    margin-left:20pt;
    font-size: 9pt;
    padding:3px;
    text-align:justify;
}
dt { 
    font-weight:bold;
    margin-top:5px;
}
dd { 
    margin-left: 30px;
}
ul {
	font-size:10pt;
}
li  {
	font-size:9pt;
	margin-left:35px;
}

span.hidden { 
	display:none;
}

.footer p {
	text-align:center;
	font-size:10px;
}
.footer table{ 
	text-align:center;
}
.visitorinfo {
	color:gray;
	background:transparent;
	font-size:9px;
	text-align:center;
}


.jobDescription {
    font-size:11pt;
    margin-left:35px;
}
.location { 
    font-style:italic;
}
.jobTitle { 
    font-size:11pt;
    font-weight:bold;
}

.highlight {
	background: white;
	padding: 2px;

}
.publication {
	padding-top: 5px;
    padding-bottom: 5px;
	font-size:10pt;

	text-indent: -55px;
    margin-left: 55px;
}

.documentsection {
	clear:both;
	padding-top: 10px;
}

span.me {
	background:#FFCC66;
/*  border-bottom: 1px solid white;*/
}
